In [7]:
import sklearn as sk
import pandas as pd
import matplotlib.pyplot as plt

In [8]:
df = pd.read_excel('USA.xlsx')
df.head()

          Ciudad   SO2  Neg.Temp  Empresas  Poblacion  Viento  Precip   Dias
0        Phoenix  10.0      70.3     213.0      582.0     6.0    7.05   36.0
1    Little Rock  13.0      61.0      91.0      132.0     8.2   48.52  100.0
2  San Francisco  12.0      56.7     453.0      716.0     8.7   20.66   67.0
3         Denver  17.0      51.9     454.0      515.0     9.0   12.95   86.0
4       Hartford  56.0      49.1     412.0      158.0     9.0   43.37  127.0

In [11]:
df.columns

Index(['Ciudad', 'SO2', 'Neg.Temp', 'Empresas', 'Poblacion', 'Viento',
       'Precip', 'Dias'],
      dtype='object')

In [13]:
df.isna().sum()

Ciudad       0
SO2          0
Neg.Temp     0
Empresas     0
Poblacion    0
Viento       0
Precip       0
Dias         0
dtype: int64

In [14]:
df.isnull().sum()

Ciudad       0
SO2          0
Neg.Temp     0
Empresas     0
Poblacion    0
Viento       0
Precip       0
Dias         0
dtype: int64

In [19]:
df = df.set_index('Ciudad')
df.head()

                SO2  Neg.Temp  Empresas  Poblacion  Viento  Precip   Dias
Ciudad
Phoenix        10.0      70.3     213.0      582.0     6.0    7.05   36.0
Little Rock    13.0      61.0      91.0      132.0     8.2   48.52  100.0
San Francisco  12.0      56.7     453.0      716.0     8.7   20.66   67.0
Denver         17.0      51.9     454.0      515.0     9.0   12.95   86.0
Hartford       56.0      49.1     412.0      158.0     9.0   43.37  127.0

In [20]:
from sklearn.preprocessing import StandardScaler

# Inicializar el StandardScaler
scaler = StandardScaler()

# Ajustar el scaler al conjunto de datos y transformar los datos
datos_estandarizados = scaler.fit_transform(df)

# Convertir los datos estandarizados de nuevo a un DataFrame
df_estandarizado = pd.DataFrame(datos_estandarizados, columns=df.columns)

# Imprimir el DataFrame estandarizado
print(df_estandarizado)

         SO2  Neg.Temp  Empresas  Poblacion    Viento    Precip      Dias
0  -0.864758  2.036213 -0.449363  -0.046520 -2.440555 -2.556012 -2.975514
1  -0.735360  0.733515 -0.668567  -0.833224 -0.881504  1.010653 -0.531009
2  -0.778493  0.131192 -0.018143   0.187743 -0.527174 -1.385471 -1.791457
3  -0.562829 -0.541168 -0.016346  -0.163651 -0.314576 -2.048577 -1.065744
4   1.119347 -0.933378 -0.091810  -0.787770 -0.314576  0.567723  0.500266
5   0.256692 -0.247010 -0.688331  -0.924132 -0.314576  0.299384  0.003726
6  -0.045237  0.215237 -0.052281   0.259420 -0.101978  0.182416 -0.110860
7  -0.692227  1.770071 -0.587713  -0.139176 -0.456308  1.522388  0.080117
8  -0.864758  2.764604 -0.460144  -0.478333 -0.314576  1.980800  0.538462
9  -0.260900  0.803553 -0.170867  -0.195120 -0.243710  0.995172  0.041922
10  3.448513 -0.723266  5.176267   4.825797  0.677548 -0.200310  0.309289
11 -0.088369 -0.485138 -0.183444   0.240190  0.181486  0.169516  0.271094
12 -0.562829 -0.947386 -0.645209  -0.712596  1.244476 -0.509071 -0.416423
13 -0.951024  0.117185 -0.607477  -0.579730  2.307466 -0.532293 -1.218526
14 -0.002104 -0.022890 -0.309217  -0.027289 -0.810638  0.545361  0.347485
15 -0.907891  1.756063 -0.465534  -0.432879 -0.739772  1.720202 -0.034469
16  0.731152 -0.106935  0.290899   0.518158  0.110620  0.390551 -0.110860
17  0.213560 -0.821318  1.079673   1.581082  0.464950 -0.499610  0.576657
18 -0.045237 -1.717799  0.423858   0.236693  0.819280 -0.931360  0.882220
19 -0.692227 -0.176973 -0.147509  -0.177637  0.394084  0.019865 -0.569204
20  1.119347  0.019132  0.560411   0.023409  0.039754 -0.075601 -0.340032
21 -0.692227 -0.597198 -0.506859  -0.457354  1.031878 -0.566695 -0.607400
22 -0.821626  0.145200 -0.749421  -0.637422 -0.385442 -2.494087 -2.135215
23  0.688019 -1.143491 -0.753014  -0.861195 -0.456308 -0.293196  0.805829
24 -0.821626 -1.213528 -0.129541  -0.254559  2.094868 -0.056680  1.989886
25 -0.304033 -0.247010 -0.001972  -0.272042 -1.661030  0.195317  0.691243
26  1.507541 -0.849333  0.977258   0.248931  1.031878 -0.153007  1.569737
27 -0.174635 -0.597198 -0.354135  -0.119946 -0.598040  0.020725  0.767634
28  1.680072 -0.162965  2.208033   2.345059  0.110620  0.271863  0.041922
29  1.335010 -0.751281 -0.208599  -0.154910 -0.031112 -0.047219  1.264174
30  2.758390 -0.807311 -0.215786  -0.751057  0.819280  0.514399  0.423876
31 -0.864758  0.817560 -0.226566   0.026906 -0.172844  1.060537 -0.340032
32 -0.519697  0.509395 -0.337965  -0.280783 -1.094102  0.793918  0.194703
33 -0.907891  1.461905  0.319647   0.411516  1.031878 -0.071301 -1.371307
34 -0.864758  1.840108  0.463387   1.091578  0.961012  0.982271 -0.416423
35 -0.088369 -0.667236 -0.585916  -0.756301 -0.527174 -1.857644 -0.951158
36  0.041029  0.495387 -0.659583  -0.525535  0.819280  0.680391  0.080117
37 -0.174635  0.285275 -0.478111  -0.541269 -1.306700  0.500638  0.041922
38 -0.045237 -0.653228 -0.151102  -0.135680 -0.031112  0.173816  1.913496
39  0.041029 -0.078920 -0.769185  -0.939866 -2.086225  0.342387  1.302369
40 -0.605962 -1.409634  0.190280   0.189491  1.669672 -0.662162  0.347485

In [21]:
df.head()

                SO2  Neg.Temp  Empresas  Poblacion  Viento  Precip   Dias
Ciudad
Phoenix        10.0      70.3     213.0      582.0     6.0    7.05   36.0
Little Rock    13.0      61.0      91.0      132.0     8.2   48.52  100.0
San Francisco  12.0      56.7     453.0      716.0     8.7   20.66   67.0
Denver         17.0      51.9     454.0      515.0     9.0   12.95   86.0
Hartford       56.0      49.1     412.0      158.0     9.0   43.37  127.0

In [22]:
df.loc[:, ['Poblacion', 'Dias']]

                     Poblacion   Dias
Ciudad
Phoenix                  582.0   36.0
Little Rock              132.0  100.0
San Francisco            716.0   67.0
Denver                   515.0   86.0
Hartford                 158.0  127.0
Wilmington                80.0  114.0
Washington               757.0  111.0
Jacksonville             529.0  116.0
Miami                    335.0  128.0
Atlanta                  497.0  115.0
Chicago                 3369.0  122.0
Indianapolis             746.0  121.0
Des Moines               201.0  103.0
Wichita                  277.0   82.0
Louisville               593.0  123.0
New Orleans              361.0  113.0
Baltimore                905.0  111.0
Detroit                 1513.0  129.0
Minneapolis-St.Paul      744.0  137.0
Kansas City              507.0   99.0
St. Louis                622.0  105.0
Omaha                    347.0   98.0
Alburquerque             244.0   58.0
Albany                   116.0  135.0
Buffalo                  463.0  166.0
Cincinnati               453.0  132.0
Cleveland                751.0  155.0
Columbus                 540.0  134.0
Philadelphia            1950.0  115.0
Pittsburgh               520.0  147.0
Providence               179.0  125.0
Memphis                  624.0  105.0
Nashville                448.0  119.0
Dallas                   844.0   78.0
Houston                 1233.0  103.0
Salt Lake City           176.0   89.0
Norfolk                  308.0  116.0
Richmond                 299.0  115.0
Seattle                  531.0  164.0
Charleston                71.0  148.0
Milwaukee                717.0  123.0