In [1]:
import pandas as pd
df = pd.read_csv('ozone.csv')
df.head()

C:\Users\alfre\AppData\Local\Temp\ipykernel_17440\739751520.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

                                              Month,"Day_of_month","Day_of_week","ozone_reading","pressure_height","Wind_speed","Humidity","Temperature_Sandburg","Temperature_ElMonte","Inversion_base_height","Pressure_gradient","Inversion_temperature","Visibility"
1 5 1 5.34 5760 3 51 54 45.32 1450  25 57.02                                                 60
  6 2 5.77 5720 4 69 35 49.64 1568  15 53.78                                                 60
  7 3 3.69 5790 6 19 45 46.40 2631 -33 54.14                                                100
  8 4 3.89 5790 3 25 55 52.70 554  -28 64.76                                                250
  9 5 5.76 5700 3 73 41 48.02 2083  23 52.52                                                120